{% extends 'flatpages/default.html' %}

{% block title %}
Объявления
{% endblock title %}

{% block content %}
<div class="content">

    {% if post %}
    
        <div class="ads-list">
            {% for one_post in post %}
                
                
                <div class="ad-item">
                    <h2><a href="{{ one_post.id }}">{{ one_post.title }}</a></h2>
                    <p>{{ one_post.content }}</p>
                    <button>Посмотреть</button>
                    <button>Откликнуться</button>
                    <span>Откликов: 3</span>
                </div>
                
                
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock content %}
