{% extends 'flatpages/default.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<div class="content">
    <div class="ads-list">
        <div class="ad-detail">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content|safe }}</p>
            <p>Категория публикации: {{ post.category }}</p>
        
            <p>Автор: {{ post.author }}</p>
            <p>(DEBUG) Юзер: {{ user }}</p>
            
        </div>
    
        
        {% if post.author == user %}
            <div class="ad-detail">

                <form method="post" action="{% url 'post_delete' post.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить это объявление?')">Удалить</button>
                </form>
                
                <a href="{{ post.id }}/edit">Редактировать объявление</a>
            </div>
            
            <h3>Отклики</h3>
            {% for reply in replies %}
                
                <div class="ad-detail">
                    <h3>{{ reply.title }}</h3>
                    <p>Автор отклика: {{ reply.author }}</p>
                    <p>{{ reply.content|safe }}</p>
                    
                    <form method="post" action="{% url 'reply_accept' reply.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите принять этот отклик?')">Принять отклик</button>
                    </form>
                    
                    <form method="post" action="{% url 'reply_delete' reply.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите отклонить этот отклик?')">Отклонить</button>
                    </form>

                </div>
                
            {% empty %}
                <p>Нет откликов</p>
            {% endfor %}
            
        {% else %}
            <div class="ad-detail">
                <form action="{% url 'post_reply' post.pk %}" method="post">
                    {% csrf_token %}
                    <textarea name="title" placeholder="Заголовок отклика" required></textarea>
                    <textarea name="content" placeholder="Напишите ваш отклик" required></textarea>
                    <button type="submit">Отправить отклик</button>
                </form>
            </div>
        {% endif %}

    </div>
</div>
    
{% endblock content %}

