{% extends 'flatpages/default.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<div class="content">
    <div class="ads-list">
        <div class="ad-detail">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <p>Категория публикации: {{ post.category }}</p>
        
            <p>Автор: {{ post.author }}</p>
            <p>(DEBUG) Юзер: {{ user }}</p>
            
        </div>
    
        <div class="ad-detail">
            {% if post.author == user %}
                <a href="{{ post.id }}/delete">delete</a>
                <a href="{{ post.id }}/edit">update</a>
            
            {% else %}
                <form action="/reply" method="post">
                    <textarea name="reply" placeholder="Напишите ваш отклик" required></textarea>
                    <button type="submit">Отправить отклик</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>


<tr>
    
    
   <td><a href="/news/">back</a></td>
</tr>
{% endblock content %}

